  <body>
    <!-- Your HTML code here -->
    <div class="mb-5 p-5">
      <% for( let project of projects ) { %>
        <div class="card mb-2 m-auto" id="card">
          <div class="card-header bg-primary">
            <strong> Name of the project : </strong>
            <%= project.name %>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">
              <strong> Author : </strong>
              <%= project.author %>
            </h6>
            <p class="card-text">
              <strong> Description : </strong>
              <%= project.description %>
            </p>
  
            <div class="m-auto text-start">
              <a href="/project/<%=project._id%>" class="btn btn-warning m-auto">Open project</a>
              <a href="project/delete/<%= project._id%>" class="btn btn-danger m-auto">Delete project</a>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </body>
